.App{
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.Content{
  width: 100%;
  height: 100vh;
}
:global(html) {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  background: url("/src/img/palm-leaf.png");
}
:global(body) {
  width: 100%;
  height: 100%;
}
:global(#root) {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", Arial, sans-serif, Helvetica;
}
