.Promo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  main{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 8vw;
    font-weight: 400;
    flex-grow: 2;
    text-shadow: 4px 4px #d4d4bb;
    color: #9f9fbd;
    transform: translateX(-10%);
    &:before{
      content: '';
      background: url("/src/img/totoro.svg");
      background-size: 100%;
      display: inline-block;
      width: 20vw;
      height: 20vw;
      transform: translateY(-10%);
    }
  }
  @media (max-width: 1000px){
    main{
      font-size: 12vw;
      &:before{
        width: 25vw;
        height: 25vw;
      }
    }
  }
  @media (max-width: 600px){
    main{
      font-size: 16vw;
      transform: translateX(0);
      &:before{
        width: 30vw;
        height: 30vw;
      }
    }
  }
  @media (max-width: 450px){
    main {
      font-size: 20vw;
      flex-direction: column;
      justify-content: center;
      &:before{
        width: 50vw;
        height: 50vw;
        transform: translateY(0);
      }
    }
  }
}

.Arrow{
  width: 80px;
  height: 80px;
  background-color: white;
  transform: rotate(0deg);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: 0 0 15px -2px rgba(0,0,0,0.75);
  margin-bottom: 20px;
  &:after{
    $color: #2d2d2d;
    content: '';
    display: block;
    position: absolute;
    border-right: solid $color 2px;
    border-bottom: solid $color 2px;
    width: 20%;
    height: 20%;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transform: rotate(45deg) translateY(-10%);
  }
  &:hover{
    transform: scale(1.1);
    box-shadow: 0 0 22px -5px rgba(0,0,0,0.75);
  }
}